@font-face {
  font-family: Avenir;
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
  font-family: Avenir600;
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
  font-family: Avenir700;
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 767px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 767px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 767px) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

li {
  font-size: 0.8125rem;
}

.nav {
  background-color: #323232;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1280px) {
  .nav {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
.nav__background {
  background-color: #323232;
}
.nav__logo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 767px) {
  .nav__logo {
    justify-content: left;
    align-items: center;
    max-width: 7.5rem;
    padding-left: 2.25rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    padding-left: auto;
    padding-bottom: 1.5rem;
    padding-top: 2.25rem;
  }
}
.nav__list {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  list-style: none;
  width: 100%;
}
@media (min-width: 767px) {
  .nav__list {
    width: 12.5rem;
    margin-left: 5rem;
    padding-top: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__list {
    padding-top: 2.5rem;
  }
}
.nav__list--active {
  border-bottom: 0.25rem solid #FFFFFF;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}
@media (min-width: 767px) {
  .nav__list--active {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 3.75rem;
  }
}
@media (min-width: 1280px) {
  .nav__list--active {
    border-bottom: 0.125rem solid #FFFFFF;
  }
}
.nav__list--inactive {
  width: 50%;
  text-align: center;
  color: #AFAFAF;
  text-decoration: none;
}
@media (min-width: 767px) {
  .nav__list--inactive {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.nav__list--inactive:hover {
  color: #FFFFFF;
  padding-bottom: 1rem;
  border-bottom: 0.25rem solid #FFFFFF;
}
@media (min-width: 1280px) {
  .nav__list--inactive:hover {
    border-bottom: 0.125rem solid #FFFFFF;
  }
}

.hero {
  height: 60vw;
  padding-left: 1rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}
@media (min-width: 767px) {
  .hero {
    padding-left: 2rem;
  }
}
.hero::before {
  content: "";
  background-image: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}
.hero__text {
  position: relative;
}
@media (min-width: 1280px) {
  .hero__text {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}

@media (min-width: 1280px) {
  .about {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
.about__heading {
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-family: Avenir600;
  color: #323232;
}
@media (min-width: 767px) {
  .about__heading {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
.about__photo {
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  max-height: 37.5rem;
}
@media (min-width: 767px) {
  .about__photo {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
.about__text {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 100%;
  line-height: 1.125rem;
  color: #323232;
}
@media (min-width: 767px) {
  .about__text {
    line-height: 1.5rem;
  }
}
@media (min-width: 767px) {
  .about__text--column {
    display: flex;
    justify-content: space-between;
    padding-left: 5.25rem;
    padding-right: 5.25rem;
  }
}
.about__text--black {
  color: black;
  font-family: Avenir600;
}
@media (min-width: 767px) {
  .about__text--black {
    padding-left: 6.25rem;
    padding-top: 2rem;
  }
}
.about__text--quote {
  font-family: Avenir600;
  line-height: 1.75rem;
  font-size: 1rem;
}
@media (min-width: 767px) {
  .about__text--quote {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media (min-width: 767px) {
  .about__text--big {
    font-size: 1.375rem;
  }
}

@media (min-width: 767px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .gallery {
    max-width: 75rem;
    margin: auto;
  }
}
.gallery--gray {
  background-color: #FAFAFA;
}
.gallery__heading {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: #323232;
  font-family: Avenir600;
}
@media (min-width: 767px) {
  .gallery__heading {
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 3.75rem;
  }
}
@media (min-width: 1280px) {
  .gallery__heading {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
.gallery__images {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 100%;
  filter: grayscale(100%);
}
.gallery__images:hover {
  filter: grayscale(0%);
}
@media (min-width: 767px) {
  .gallery__images {
    width: 33.33%;
    padding-right: 1.5rem;
    padding-left: 0;
    padding-bottom: 1.5rem;
  }
}

.comments {
  padding: 1rem 1rem;
}
@media (min-width: 767px) {
  .comments {
    padding: 2rem 6.25rem;
  }
}
@media (min-width: 1280px) {
  .comments {
    padding: 0;
  }
}
.comments__heading {
  padding-bottom: 1rem;
}
@media (min-width: 767px) {
  .comments__heading {
    margin-left: -4.5rem;
  }
}
@media (min-width: 1280px) {
  .comments__heading {
    padding: 1.5rem;
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
.comments__avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-image: url(../assets/images/Mohan-muruge.jpg);
  background-size: cover;
  padding-right: 1.25rem;
  margin-top: 1.25rem;
}
.comments__label {
  font-size: 0.625rem;
  color: #AFAFAF;
}
.comments__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.125rem solid #e1e1e1;
  margin-bottom: 1rem;
}
@media (min-width: 1280px) {
  .comments__container {
    width: 31.25rem;
    margin: auto;
    margin-bottom: 1rem;
  }
}
.comments__form {
  width: calc(100% - (2.25rem + 1rem));
}
.comments__field {
  height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 0.0625rem solid #e1e1e1;
  background-color: #FAFAFA;
  resize: none;
  outline: none;
}
.comments__field:focus {
  border: 0.0625rem solid #323232;
}
.comments__field::-moz-placeholder {
  color: #323232;
}
.comments__field:-ms-input-placeholder {
  color: #323232;
}
.comments__field::placeholder {
  color: #323232;
}
.comments__field--text-area {
  height: auto;
}
.comments__field--error {
  border-color: #d22d2d;
}
.comments__button {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  margin: 1rem 0;
}
.comments__button:hover {
  background-color: #000000;
}
.comments__wrapper {
  margin-left: 1rem;
  width: calc(100% - (2.25rem + 1rem));
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comments__text {
  width: 100%;
}
.comments__name {
  font-size: 0.875rem;
}
.comments__area {
  display: flex;
  margin: 0 1rem;
  border-bottom: 0.125rem solid #e1e1e1;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 767px) {
  .comments__area {
    margin-left: 6.25rem;
    margin-right: 6.25rem;
  }
}
@media (min-width: 1280px) {
  .comments__area {
    width: 31.25rem;
    margin: auto;
    margin-bottom: 1rem;
  }
}
.comments__submitted-avatar {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-size: cover;
  padding-right: 1.25rem;
}

.footer {
  background-color: #323232;
}
.footer__heading {
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #FFFFFF;
}
@media (min-width: 767px) {
  .footer__heading {
    padding-left: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 767px) {
  .footer__top {
    display: flex;
    justify-content: space-between;
    padding-right: 2rem;
  }
}
@media (min-width: 1280px) {
  .footer__top {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
@media (min-width: 767px) {
  .footer__contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 1rem;
  }
}
@media (min-width: 1280px) {
  .footer__contact {
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding-right: 25rem;
  }
}
.footer__text {
  padding-left: 1rem;
  width: 100%;
  padding-bottom: 1rem;
  color: #FFFFFF;
}
@media (min-width: 1280px) {
  .footer__text {
    width: 100%;
    max-width: 75rem;
    margin: auto;
  }
}
.footer__text--small {
  font-size: 0.625rem;
}
@media (min-width: 767px) {
  .footer__text--small {
    font-size: 0.875rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.footer__text--silver {
  color: #e1e1e1;
}
.footer__text--no-underline {
  text-decoration: none;
}
.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 8.75rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 767px) {
  .footer__icons {
    padding-top: 3.25rem;
    padding-left: 1.5rem;
  }
}
.footer__logo {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-top: 2.5rem;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media (min-width: 767px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo2 {
  display: none;
  max-width: 7.5rem;
  max-height: 1.25rem;
}
@media (min-width: 767px) {
  .footer__logo2 {
    display: block;
    margin-top: 3.25rem;
    margin-left: 11.875rem;
  }
}
@media (min-width: 1280px) {
  .footer__logo2 {
    margin-left: 35rem;
  }
}/*# sourceMappingURL=bio.css.map */