@import "partials/partial";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir;
}
h1{
    font-size: 24px;
    line-height: 32px;
    @include tablet{
        font-size: 60px;
        line-height: 68px;

    }
    
}
h2{
    font-size: 24px;
    line-height: 32px;
    @include tablet{
        font-size: 36px;
        line-height: 44px;
    }
    
}
h3{
    font-size: 14px;
    line-height: 22px;

    @include tablet{
        font-size: 24px;
        line-height: 32px;
    }
}
p{
    font-size: 13px;
    line-height: 18px;
    
}
li{
    font-size: 13px;
}


.nav{
    background-color: $primary-color1;
    display: flex;
    flex-wrap: wrap;
  
    @include desktop{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        }
    &__background{
        background-color: #323232;
    }
    &__logo{
        @include flex-center;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 100%;
        @include tablet{
            justify-content: left;
            align-items: center;
            max-width: 120px;
            padding-left: 36px;
            padding-top: 24px
            
        }
        @include desktop{
            padding-left: auto;
            padding-bottom: 24px;
            padding-top: 36px;
        }
    }
    &__list{
        @include flex-center;
        color: $primary-color3;
        list-style: none;
        width: 100%;
        @include tablet{
            width: 200px;
            margin-left: 80px;
            padding-top: 24px;
        }
        @include desktop{
            padding-top: 40px;
        }
        

        &--active{
            border-bottom: 4px solid $primary-color3;
            width: 50%;
            text-align: center;
            padding-bottom: 16px;
            font-weight: 700;
            text-decoration: none;
            color: #FFFFFF;
            @include tablet{
                width: fit-content;
                margin-right: 60px;
            }
            @include desktop{
                border-bottom: 2px solid $primary-color3;
                
            }
        }
        &--inactive{
            width: 50%;
            text-align: center;
            color: $primary-color2;
            text-decoration: none;
            @include tablet{
                width: fit-content;
            }
            &:hover{
                color: $primary-color3;
                padding-bottom: 16px;
                border-bottom: 4px solid $primary-color3;
                @include desktop{
                    border-bottom: 2px solid $primary-color3;
                }
            }
        }
    }

}

.hero{
    
    height: 60vw;
    padding-left: 16px;
    margin-bottom: 24px;
    @include flex-align-center;
    color: $primary-color3;
    position: relative;
    @include tablet{
        padding-left: 32px;
    }
    @include desktop{
        
    }
    &::before{
    content: '';    
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    }
    &__text{
        position: relative;
        @include desktop{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        
        }
    }
}

.about{
    @include desktop{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        }

    &__heading{
        padding-bottom: 16px;
        padding-left: 16px;
        font-family: Avenir600;
        color: $primary-color1;
        @include tablet{
            padding-left: 32px;
            padding-top: 32px;
            padding-bottom: 24px;
        }
    }
    &__photo{
        padding: 0 16px 16px 16px;
        width: 100%;
        max-height: 600px;
        @include tablet{
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    &__text{
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        width: 100%;
        line-height: 18px;
        color: $primary-color1;
        @include tablet{
            line-height: 24px;
        }
        &--column{
            @include tablet{
            display: flex;
            justify-content: space-between;
            padding-left: 84px;
            padding-right: 84px;
            }
        }
        &--black{
            color: black;
            font-family: Avenir600;
            @include tablet{
            padding-left: 100px;
            padding-top: 32px;
            }
        }

        &--quote{
            font-family: Avenir600;
            line-height: 28px;
            font-size: 16px;    
            @include tablet{
            padding-left: 100px;
            padding-right: 100px;
            }
            }
        &--big{
            @include tablet{
                font-size: 22px;
            }
            
        }
        
    }
}

.gallery{
    &--gray{
        background-color: #FAFAFA;
    }
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        padding-left: 32px;
        padding-right: 8px;
        padding-bottom: 8px;
    }
    @include desktop{
        max-width: 1200px;
        margin: auto;
    }
    &__heading{
        padding-bottom: 16px;
        padding-left: 16px;
        padding-top: 24px;
        color: $primary-color1;
        font-family: Avenir600;
        @include tablet{
            padding-left: 32px;
            padding-bottom: 24px;
            padding-top: 60px;
        }
        @include desktop{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            }
    }
    &__images{
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        width: 100%;
        filter: grayscale(100%);
        &:hover{
            filter: grayscale(0%);
        }
        @include tablet{
            width: 33.33%;
            padding-right: 24px;
            padding-left: 0;
            padding-bottom: 24px;
        }
    }
}
.comments{
    padding: 16px 16px;
    @include tablet{
        padding: 32px 100px;
    }
    @include desktop{
        padding: 0;
    }
    &__heading{
        padding-bottom: 16px;
        @include tablet{
            margin-left: -72px;
        }
        @include desktop{
            padding: 24px;
            width: 100%;
            max-width: 1200px;
            margin: auto;
        }
    }
    &__avatar{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #e1e1e1;
        background-image: url(../assets/images/Mohan-muruge.jpg);
        background-size: cover;
        padding-right: 20px;
        margin-top: 20px;
    }
    &__label{
        font-size: 10px;
        color: #AFAFAF;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #e1e1e1;
        margin-bottom: 16px;
        @include desktop{
            width: 500px;
            margin: auto;
            margin-bottom: 16px;
        }
    }

    &__form{
        width: calc(100% - (36px + 16px));
      
    }
    
    
    &__field{
        height: 36px;
        width: 100%;
        border-radius: 4px;
        padding: 12px;
        margin-top: 4px;
        border: 1px solid #e1e1e1;
        background-color: #FAFAFA;
        resize: none;
        outline: none;
        &:focus{
            border: 1px solid #323232;
          
        }
        &::placeholder{
            color: #323232;
        }
        &--text-area{
            height: auto;
        }
        &--error{
            border-color: #d22d2d;
        }
        // &:focus:invalid{
        //     border-color: #D22D2D;
        // }
    }
   
    &__button{
        height: 40px;
        width: 100%;
        border-radius: 4px;
        background-color: $primary-color1;
        color: #FFFFFF;
        border: none;
        margin: 16px 0;
        &:hover{
            background-color: #000000;
        }
    }
    &__wrapper{
        margin-left: 16px;
        width: calc(100% - (36px + 16px));
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__text{
    width: 100%;    
    }
    &__name{
        font-size: 14px;
    }
    &__area{
        display: flex;
        margin: 0 16px;
        border-bottom: 2px solid #e1e1e1;
        padding-bottom: 16px;
        margin-bottom: 16px;
        @include tablet{
            margin-left: 100px;
            margin-right: 100px;
        }
        @include desktop{
            width:500px;
            margin: auto;
            margin-bottom: 16px;
        }
        
    }
    &__submitted-avatar{
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #e1e1e1;
        background-size: cover;
        padding-right: 20px;
    }
}

.footer{
    background-color: $primary-color1;
    
    &__heading{
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 16px;
        color: $primary-color3;
        @include tablet{
            padding-left: 32px;
            padding-top: 40px;
            padding-bottom: 32px;
        }
    }
    &__top{
        @include tablet{
            display: flex;
            justify-content: space-between;
            padding-right: 32px;
        }
        @include desktop{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            }
    }
    &__contact{
        @include tablet{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-right: 32px;
        padding-left: 16px;
        }
        @include desktop{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding-right: 400px;
            }
    }
    &__text{
        padding-left: 16px;
        width: 100%;
        padding-bottom: 16px;
        color: $primary-color3;
        @include tablet{
            // width: 33%;
        }
        @include desktop{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            }
        &--small{
            font-size: 10px;
            @include tablet{
                font-size: 14px;
                padding-left: 32px;
                padding-top: 32px;
                padding-bottom: 32px;
            }
        }
        &--silver{
            color: #e1e1e1;
        }
        &--no-underline{
            text-decoration: none;
        }
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        width: 140px;
        padding-left: 16px;
        padding-bottom: 24px;
        @include tablet{
            padding-top: 52px;
            padding-left: 24px;
            
        }
    }
    &__logo{
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 40px;
        max-width: 120px;
        max-height: 20px;
        @include tablet{
            display: none;
        }
    }
    &__logo2{
        display: none;
        max-width: 120px;
        max-height: 20px;
        @include tablet{
            display:block;
            margin-top: 52px;
            margin-left: 190px;
        }
        @include desktop{
            margin-left: 560px;
        }
    }
}
