@font-face {
    font-family: Avenir;
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: Avenir600;
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
}
@font-face {
    font-family: Avenir700;
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
}

$primary-color1: #323232;
$primary-color2: #AFAFAF;
$primary-color3: #FFFFFF;

$tablet-width: 767px;
$desktop-width: 1280px;

@mixin tablet {
    @media (min-width: $tablet-width) {
        @content;
    }   
}
@mixin desktop {
    @media (min-width: $desktop-width) {
        @content;
    }  
}

@mixin flex-center{
    display: flex;
    justify-content: center;
}
@mixin flex-align-center{
    display: flex;
    align-items: center;
}
@mixin flex-around{
    display: flex;
    justify-content: space-around;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Avenir;
}
h1{
    font-size: 24px;
    line-height: 32px;
    @include tablet{
        font-size: 60px;
        line-height: 68px;

    }
    
}
h2{
    font-size: 24px;
    line-height: 32px;
    @include tablet{
        font-size: 36px;
        line-height: 44px;
    }
    
}
h3{
    font-size: 14px;
    line-height: 22px;
    // color: black;
    @include tablet{
        font-size: 24px;
        line-height: 32px;
    }
    // font-family: Avenir600;
}
p{
    font-size: 13px;
    line-height: 18px;
    
}
li{
    font-size: 13px;
}


.nav{
    background-color: $primary-color1;
    display: flex;
    flex-wrap: wrap;

    &__logo{
        @include flex-center;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 100%;
        @include tablet{
            justify-content: left;
            align-items: center;
            max-width: 120px;
            padding-left: 36px;
            padding-top: 24px
            
        }
    }
    &__list{
        @include flex-center;
        color: $primary-color3;
        list-style: none;
        width: 100%;
        @include tablet{
            // justify-content: left;
            // align-items: center;
            width: 200px;
            margin-left: 80px;
            padding-top: 24px;
        }
        

        &--active{
            border-bottom: 4px solid $primary-color3;
            width: 50%;
            text-align: center;
            padding-bottom: 16px;
            font-weight: 700;
            @include tablet{
                width: fit-content;
                margin-right: 60px;
            }
        }
        &--inactive{
            width: 50%;
            text-align: center;
            color: $primary-color2;
            @include tablet{
                width: fit-content;
            }
            &:hover{
                color: $primary-color3;
                padding-bottom: 16px;
                border-bottom: 4px solid $primary-color3;
            }
        }
    }

}

.hero{
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    height: 60vw;
    padding-left: 16px;
    margin-bottom: 24px;
    @include flex-align-center;
    color: $primary-color3;
    @include tablet{
        padding-left: 32px;
    }
}

.about{

    &__heading{
        padding-bottom: 16px;
        padding-left: 16px;
        font-family: Avenir600;
        color: $primary-color1;
        @include tablet{
            padding-left: 32px;
            padding-top: 32px;
            padding-bottom: 24px;
        }
    }
    &__photo{
        padding: 0 16px 16px 16px;
        width: 100%;
        height: 50vw;
        @include tablet{
            padding-left: 100px;
            padding-right: 100px;
        }
    }
    &__text{
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        width: 100%;
        line-height: 24px;
        color: $primary-color1;
        &--column{
            @include tablet{
            display: flex;
            justify-content: space-between;
            padding-left: 84px;
            padding-right: 84px;
            }
        }
        &--black{
            color: black;
            font-family: Avenir600;
            @include tablet{
            padding-left: 100px;
            padding-top: 32px;
            }
        }
        // @include tablet{
        //     padding-left: 100px;
        //     padding-right: 100px;
        // }

        &--quote{
            font-family: Avenir600;
            line-height: 32px;
            font-size: 16px;    
            @include tablet{
            padding-left: 100px;
            padding-right: 100px;
            }
            }
        &--big{
            @include tablet{
                font-size: 22px;
            }
            
        }
        
    }
}

.gallery{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        padding-left: 32px;
        padding-right: 8px;
    }
    &__heading{
        padding-bottom: 16px;
        padding-left: 16px;
        color: $primary-color1;
        font-family: Avenir600;
        @include tablet{
            padding-left: 32px;
        }
    }
    &__images{
        padding-left: 16px;
        padding-bottom: 16px;
        padding-right: 16px;
        width: 100%;
        @include tablet{
            width: 33.33%;
            padding-right: 24px;
            padding-left: 0;
            padding-bottom: 24px;
        }
    }
}

.footer{
    background-color: $primary-color1;
    &__heading{
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 16px;
        color: $primary-color3;
        // @include tablet{
        //     padding-left: 36px;
        // }
    }
    &__text{
        padding-left: 16px;
        width: 100%;
        padding-bottom: 16px;
        color: $primary-color3;
        &--small{
            font-size: 10px;
        }
        &--silver{
            color: #e1e1e1;
        }
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        width: 140px;
        padding-left: 16px;
        padding-bottom: 24px;
    }
    &__logo{
        margin-left: 16px;
        margin-bottom: 16px;
        margin-top: 40px;
        max-width: 120px;
        max-height: 20px;
    }
}